a:link       {text-decoration: none; font-family: AdobeSm; color: #000000 }
a:visited    {text-decoration: none; color: #000000 }
a:hover      {COLOR: #ff0000;  TEXT-DECORATION: none}
a:active      {COLOR: #ff0000;  TEXT-DECORATION: none}
body         {font-size: 9pt;color: #000000;margin:0;padding:0}
TD           {FONT-SIZE: 9pt;color: #000000;table-layout:fixed;word-break:break-all}
p            {FONT-SIZE: 9pt;color: #000000}
input        {FONT-SIZE: 9pt;color: #000000}
body         {margin-top: 0; margin-bottom: 0;margin-left:0;margin-right:0; color: #000000}
select       {FONT-SIZE: 9PT;}
option       {FONT-SIZE: 9pt;}
textarea     {FONT-SIZE: 9pt;}